.header {
    padding: 16px 0;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__menu {

        &--list {
            display: flex;
            align-items: center;
        }

        &--item {
            padding: 0 50px;
            position: relative;

            &::after {
                content: '';
                display: block;
                width: 1px;
                opacity: 0.1;
                background: $black;
                position: absolute;
                top: 5px;
                bottom: 5px;
                right: 0px;
            }

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;

                &::after {
                    display: none;
                }
            }
        }

        &--link {
            font-variant-numeric: lining-nums proportional-nums;

            font-weight: 600;
            line-height: 125%;
            transition: all .3s ease;

            &:hover {
                color: #FFDF00 ;
            }
        }
    }

    &__contacts {
        display: flex;
        align-items: center;
        gap: 0 40px;
    }

    &__call {

        &--schedule {
            font-variant-numeric: lining-nums proportional-nums;

            font-size: 16px;
            line-height: 125%;
        }

        &--number {
            font-variant-numeric: lining-nums proportional-nums;

            font-size: 26px;
            font-weight: 700;
            line-height: 125%;

            display: flex;
            align-items: center;
            gap: 0 8px;

            & .header__chevron {
                cursor: pointer;
                transition: all .3s ease;

                &:hover {
                    scale: 1.1;
                }
            }
        }

        &--list {
            display: none;
        }
    }

}

.social__list {
    display: flex;
    align-items: center;
    gap: 0 12px;
}